html , body{
	background-attachment:fixed;
	background-image: linear-gradient(135deg,#1da1f2,#981ceb);
	background-color: #fff0;
	height: 100%;
	width: 100%;
}

.v-center {
  margin-top:10%;
}
  
.main-text {
	color:#efefef;
	letter-spacing: .02em;
	font: 100 normal normal 36px/1.3 Helvetica Neue,sans-serif
}

.sub-text {
	color:#efefef;
	letter-spacing: .02em;
	font: 100 normal normal 22px/1.3 Helvetica Neue,sans-serif
}

.tone-text {
	margin-top : 16px;
	margin-bottom : 8px
}

.footer-text {
	color:#efefef;
	letter-spacing: .02em;
	font: 100 normal normal 16px/1.3 Helvetica Neue,sans-serif
}

.alert-text {
	letter-spacing: .02em;
	font: 100 normal normal 18px/1.3 Helvetica Neue,sans-serif
}

.result-button{
		width: 100%;
}

.result-button-text{
	margin-top : 10px;
	margin-bottom : 10px;
	vertical-align: middle;
	color:#efefef;
	letter-spacing: .02em;
	font: 100 normal normal 18px/1.3 Helvetica Neue,sans-serif
}

.fa-beat {
	animation:fa-beat 5s ease infinite;
  }
  @keyframes fa-beat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
  }

